@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

*{
    color: rgb(139, 0, 53);
    font-family: 'Arial';
}

h1{
    background-color: black;
    color: white;
}

img{
    width: 100%;
}

.body{
    background: linear-gradient(45deg, #0c0c0c, #292828, #4d4646);
    background-size: 300% 300%;
    animation: gradient 6s ease infinite;
}

.p1{
    text-align: center;
}

.p2{
    text-align: right;
}

.p3{
    text-align: justify;
    width: 200px;
}

.fonte{
    font-size: 22px;
}

p.margem{
    margin: 100px 50px 100px 30px;
}

p.borda{
    border-style: solid;
    border-color: aqua;
    border-width: 10px;
    border-radius: 8px;
}

.p{
    font-size: 80px;
}